body{
    background-color: rgb(9, 9, 9);
    width: 100%;
}
.abhi{
    width: 100%;
    float:left;
    height: 100%;
    text-align: center
}
.ul,li{
    color: white;
    text-align:left;
    display: inline;
    padding: 1rem;
    text-shadow:0.5em;
    text-decoration:double;
    font-size: xx-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    text-align: center;
    margin-left: 40px;
    text-decoration-line:underline;
    text-decoration-color: aqua;

}
.text{
    text-shadow: 0.7em;
    cursor: pointer;
    font-size:medium;
    text-align: center;
    color: grey;
    font-style: italic;
    font-family: "Barlow", sans-serif;
    text-decoration-line: none;
    
}
.fa{
    width: 300px;
    margin-left: 100px;
    text-align: center;
}
.pic{
    width: 500px;
    width: 40%;
    text-align: center;
    margin-left:410px;
    height: 300px;

margin-bottom: 40px;
   
}
.love{
    background-color: whitesmoke;
    width: 10%;
   
}



.top{
    color: white;
    
    
    padding: 1rem;
    text-shadow:0.5em;
    text-decoration:double;
    font-size: large;
    margin-left: 400px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    font-weight: 800;

    



}
.container{
    overflow: auto;
    white-space: nowrap;
}
.images{
    text-align: center;
    margin-right:80px;
    cursor: pointer;
    border-color: brown;
    border-width: 22px;
    
    padding-bottom: 10px;
    white-space:nowrap;
}
.Telugu{
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    margin-left: 410px;
}
.images2{
    text-align: center;
    margin-right:80px;
    cursor: pointer;
    border-color: brown;
    border-width: 22px;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}
.ani{
    
    margin-left: 400px;
}
.container{
    display: inline;
}
.music{
    vertical-align: top;
    display: inline-block;
}
.song1{
    margin-left: 400px;
}


.vik{
    margin-left: 400px;
    background-color: aliceblue;
    border-radius: 30mm;
    width: 200%;
    
}
.tab{
    font-size:large;
    color: aliceblue;
    text-align: center;
    display:block;
    background-color: rgb(7, 7, 7);
    width: 41.33%;
    margin-left: 400px;
    padding: 0.5rem;
    
    
}
.ul,a{
    padding: 0em 1em oem 2em;
    display: inline;
    
    color: rgb(253, 252, 252);
    border-radius: 1mm;
    padding: 0.98rem;
}

